<%= form_for @bookmark, remote: true do |f| %>
  <% if @bookmark.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@bookmark.errors.count, "error") %></h2>
    <ul>
    <% @bookmark.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :url, :for => 'url' %><br />
    <%= f.text_field :url , :placeholder => 'Should start with http or https', :class => 'form-control', :id => 'url' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn' %>
  </div>
<% end %>
