<%= link_to 'New bookmark', new_bookmark_path %><br/>
<%= @bookmarks.each do |bookmark| %>
<a href="<%= bookmark.url %>"><img src="<%= bookmark.screenshot_url%>" alt="screen"></a>
<%= link_to 'Destroy', bookmark_path(bookmark), method: :delete %><br/>
<% end %>
