<div class="d-flex justify-content-center">
<%= form_tag(bookmarks_path, :method => "get", id: "search-form", class: "form-inline search d-flex flex-nowrap") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search", :class => "form-control col-lg-9 col-md-10 col-sm-12" %>
  <%= submit_tag "ðŸ”", :class => "btn btn-success" %>
<% end %>
</div>

<h1>Your bookmarks</h1>

<button class="btn btn-primary" id="add_bookmark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Create bookmark
</button><br/>
<div class="collapse" id="collapseExample">
  <div class="well">
    <%= render 'form' %>
  </div>
</div>
<br/>
<div id="bookmark_holder" class="d-flex justify-content-between">
  <% @bookmarks.each do |bookmark| %>
      <%= render 'row', bookmark: bookmark %>
  <% end %>
</div>
<div class="d-flex justify-content-center"><%= will_paginate(@bookmarks,  :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %></div>
