<!DOCTYPE html>
<html>
  <head>
    <title>AppBookmarks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['1777605335640093'] %>, // App ID
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });
      };
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }
   </script>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Bookmarks app</a>
                        <% if current_user %>
                            <%= link_to "Bookmarks", bookmarks_path, :class => 'navbar-link'  %>
                        <% end %>
                </div>
                    <p class="navbar-text pull-right">
                    <% if current_user %>
                        Logged in as
                        <strong><%= current_user.name %></strong>.
                        <%= link_to "Logout", signout_path, :class => 'navbar-link'  %>
                    <% else %>
                        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => 'navbar-link' %>
                    <% end %>
                    </p>
            </div>
        </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
